@media (max-width: 1400px) {
    .full-width-ad {
        left:0 !important;
        width:100% !important;
    }

}
@media(min-width:992px){
    .logo.lg_middle{
        display: none;
    }
    /*    .main-nav.header_fixed{
            padding: 5px 0 0 0;
        }*/
}
@media(max-width:768px){
    .woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text, .woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button, .woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button, .woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input {
        width: 48%;
        box-sizing: border-box;
    }
    .woocommerce .cart-collaterals .cart_totals{
        width: 100%;
    }
    .woocommerce table.cart td.actions .coupon{
        float: none;
        padding-bottom: .5em;
    }
}
@media(min-width:1200px) and (max-width:1400px){
    .fixed-position .mega-menu li {
        width: 15%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .logo-scrol{
        margin: 0 45px;
    }
    .header-v1.header .main-navigation .nav-menu > li > a {
        padding: 15px 9px;
    }
    .maxHTMLContent .maxCaption .desc {
        font-size: 14px;
        line-height: 20px;
    }
    .maxHTMLContent .maxCaption .title {
        font-size: 35px;
    }
    .gelli-product .beans-slideset button.slick-arrow.slick-next {
        right: -12px;
    }
    .gelli-product .beans-slideset button.slick-arrow.slick-prev {
        left: -31px;
    }
    .home-sub-main-product-section{
        padding:75px 0px 55px 0px;
    }
    .axisTiles .axis-tile-frame.S-S-D {
        height: 576px;
    }
    .axis-tile-box-s .image_layer {
        height:275px !important;
    }

    .axisTiles .axis-tile-frame .axis-tile-box-s {
        height: 275px;
    }
    .axisTiles .axis-tile-box-d .image_layer {
        height: 577px;
    }
}
@media (min-width: 768px){
    .form-horizontal .control-label {
        text-align: left;
    }
}