.gelli-product-category .gelli-headingtitle .dsc-cat,
.gelli-product-category .gelli-headingtitle .dsc-cat p{
    font-family: 'Open Sans Light';
}
.logo.site-title,
.logo .site-title{
	/*font-family: 'dragon_is_comingregular';*/
}
.main-menu6 .close6{
    font-family: 'montserratultra_light';
}
.about-author .testiImg h3,
.box-collection h3,
.gelli-iconbox .box-content h3,
.about-text h3,
.access-box-top .txt a,
.about-us-banner-content h5,
.lt-show .custom_select .select_title,
.minus-left, .minus-right,
.comment .hoder strong ,
.countdonw-time #countdown span.countdown-row .countdown-amount,
.gelli-countdown .conect-us p ,
.gelli-blog .item-post .time-post p,
.gelli-blog .item-post-2 .time-post span ,
.gelli-testimonial .testiImg h3,
.blog-single .post-categories li a,
.blog-single h2,
.gelli-testimonial .txt p::first-letter{
	font-family:'montserratbold';
}
.gelli-box-5 h4,
.logo .text,
.minicart_pro_des a,
.header-v5 .header-coppyright,
.site-content .form-newlt input[type="email"],
.form-newlt input[type="submit"],
.form-newlt input[type="email"],
article.product .price span,
article.product h2 a,
.gelli-headingtitle .layout3 h4,
.social-midle .quickview .yith-wcqv-button,
.special-product .box-price span{
	font-family:'montserratlight';
}
.header-v8 .top-bar,
.header-v3 .top-bar button.btn,
.header-v1 .top-bar button.btn,
.main-navigation  .nav-menu a,
ul.new-product .info-right a,
ul.new-product .info-right .price span,
.infoproduct_below h3,
.settime b,
.settime span,
.gelli-box.box-button .txt h3,
.box-button a ,
.gelli-box-3 p,.gelli-box-3 .txt h3,.gelli-box-3 .txt h3 span,
.box-collection span,
.gelli-tabproduct .tabs ul li a,
#tabs ul li a,
.time-post-1 p,.item-post-1 a,
.item-post-1 h2,
.txt-block-home h1,
.nav-filter li a,
.txt-right h1,.txt-left h1 ,
.txt-right h2,.txt-left h2 ,
.section-summer .wpb_text_column h2,
.gelli-team .item .social .title-social p,
.gelli-team .item .info .name,
.wpcf7-form p,
.contact-right li .form-contact-content span.text,
.txt-center h3,
.txt-center h2,
.sidebar .widget li a,
.gelli-recent-posts .item-news .txt a,
.gelli-recent-posts .item-news .txt span,
.tags-share a,
.widget.widget_tag_cloud a,
.widget.widget_product_tag_cloud a,
.item-blog .post-meta p.post-date,
.item-blog .post-meta p ,
.item-blog a h2,
.read-more,
.page_navigation li a,
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce .widget_price_filter .price_slider_amount .price_label,.woocommerce .widget_price_filter .price_slider_amount .price_label span,a.clear-all,
body.woocommerce .yith-woocompare-widget a.compare,
.list .btn-cart span,.related-gird-1 .btn-cart span,
.list-view-as li:first-child,
.lt-show p,form.cart td.label label,
.woocommerce .quantity .qty,
.woocommerce div.product .product_title,.price .amount,.price .woocommerce-Price-currencySymbol,.woocommerce-review-link,.woocommerce-review-link .count,.amount, .woocommerce-Price-currencySymbol,
.share-links li,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.add_review,
.archive small.count, small.count:after, small.count:before,.archive.woocommerce .widget_layered_nav ul li a,
.woocommerce-cart .woocommerce a.button,.woocommerce-cart .btn,.woocommerce-cart .btn span,
.post-author-box .dsc-author a.name-author,
.comment .hoder time,
.comment-form p.form-submit input,
.countdonw-time #countdown span.countdown-row .countdown-period,
a.shipping-calculator-button,
.btn-cal,
.woocommerce #review_form #respond .form-submit input,
.gelli-box .txt h3,
.gelli-blog .item-post a h2,
.gelli-blog .item-post p.content,
.gelli-blog .item-post-2 .blog_link_img,
.gelli-testimonial .testiImg p,
.site-content .form-newlt input[type="submit"],
.woocommerce-wishlist .woocommerce table thead tr th span,
.woocommerce-wishlist table tr td a,.woocommerce.woocommerce-wishlist .wishlist_table td.product-add-to-cart a,.mobile-show span,
.wishlist_table tr td.product-stock-status span.wishlist-in-stock,
.woocommerce .woocommerce-ordering select,
.list .btn-cart-in1-list,
.gelli-box-5 h3,
.gelli-headingtitle .layout3 h3,
.footer.footer-v4 .widget-title,
.gelli-product-category .gelli-headingtitle h2,
.gelli-product-category .list-subcat li a,
.gelli-product-category .list-subcat li span,
.gelli-box-6 h4,
.gelli-box-6 h3,
.gelli-box-6 .more-link
{
	font-family:'Montserrat';
}
